# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
/.idea/
/node_modules
/coverage
/dist
.env
reagents-419912-2ae01760f621.json

# Local Netlify folder
.netlify
